{% extends "layout.html" %}

{% block head %}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>

<script type="text/javascript">
	google.load('visualization', '1', {packages: ['corechart']});

  	function drawOrderbook() {
	    var data = google.visualization.arrayToDataTable([
	      ['Price', 'Bids', 'Asks', 'History', 'Orders'],
	      
	      [{{chartData["orderbook"]["bids"][0].price}}, 0.0, null, null, null],
	      {% for entry in chartData["orderbook"]["bids"] %}
	      	[{{entry.price}}, {{entry.accumvolume}}, null, null, null],
	      {% endfor %}
	      
	      [{{chartData["orderbook"]["asks"][0].price}}, null, 0.0, null, null],
	      {% for entry in chartData["orderbook"]["asks"] %}
	      	[{{entry.price}}, null, {{entry.accumvolume}}, null, null],
	      {% endfor %}
	      
	      [{{chartData["trades"][0].price}}, null, null, 0, null],
	      {% for trade in chartData["trades"] %}
			[{{trade.price}}, null, null, {{trade.accumvolume}}, null],
		  {% endfor %}
		  
		  [0, null, null, null, 0],
		  {% for myorder in myorders %}
		  	[{{myorder.price}}, null, null, null, {{myorder.amount}}],
		  {% endfor %}
	    ], false);
	
	    var options = {
	      title: 'Kapiton Orderbook',
	      vAxis: {title: 'Accumulated Volume'},
	      hAxis: {title: 'Price', viewWindow:{min: {{chartData["orderbook"]["bids"][0].price}}-20, max: {{chartData["orderbook"]["asks"][0].price}}+20}},
	      height: 400,
		  chartArea:{left:"8%",top:"10%",width:"80%",height:"80%"},
		  series: { 0:{color: 'red'}, 
		  			1:{color: 'green'}, 
		  			2:{color: 'orange', lineWidth: 1},
		  			3:{color: 'blue', lineWidth: 0, pointSize: 2}}
	    };
	
	    var chart = new google.visualization.LineChart(document.getElementById('orderbook'));
	    chart.draw(data, options);
  	}

	function drawTrades() {
		var data = google.visualization.arrayToDataTable([
			['Mon', 20, 28, 38, 45],
			['Tue', 31, 38, 55, 66],
			['Wed', 50, 55, 77, 80],
			['Thu', 77, 77, 66, 50],
			['Fri', 68, 66, 22, 15]
			// Treat first row as data as well.
		], true);
	
		var options = {
			legend:'none',
			chartArea:{left:"8%",top:"10%",width:"84%",height:"80%"}
		};
	
		var chart = new google.visualization.CandlestickChart(document.getElementById('trades'));
		chart.draw(data, options);
	}


	google.setOnLoadCallback(drawOrderbook);
	google.setOnLoadCallback(drawTrades);
</script>
{% endblock %}

{% block page %}
	<h2 class="box" id="userbarHeader">Navigationbar</h2>
	<div class="container" id="userbar">
	 Hello, {{ userData["nick"] }}! <a href="{{ logoutURL }}">Logout</a>
	 {% if userData["admin"] %}<br><b>You are an admin</b>{% endif %}
	</div>
	
	<h2 class="box">Charts</h2>
	<div class="container" id="charts">
		<h3>Kapiton</h3>
		<div id="orderbook"></div>
		<!-- <div id="trades"></div> -->
	</div>
	<h2 class="box">My Orders</h2>
	<table id="myorders">
		<tr>
			<th>Market</th>
			<th>Status</th>
			<th>ID</th>
			<th style="max-width: 3em">Type</th>
			<th>Amount</th>
			<th>Price</th>
			<th style="width: 14em">Created</th>
		</tr>
		{% for myorder in myorders %}
			{% set keyName = myorder.key().name() %}
			<tr id="{{ keyName }}">
				<td>{{ myorder.market }}</td>
				<td>{{ myorder.status }}</td>
				<td>{{ keyName }}</td>
				<td>{{ myorder.otype }}</td>
				<td>{{ myorder.amount }}</td>
				<td>{{ myorder.price }}</td>
				<td>{{ myorder.created }}</td>
			</tr>
		{% endfor %}
	</table>
  
	<h2 class="box">Assets</h2>
	<table id="assets">
		<tr>
			<th>Market</th>
			<th>Amount</th>
			<th>Currency</th>
			<th>Orders</th>
			<th>Created</th>
		</tr>
		{% for asset in assets %}
		<tr>
			<td>{{ asset.market }}</td>
			<td>{{ asset.amount }}</td>
			<td>{{ asset.currency }}</td>
			<td>
				{% for orderKey in asset.orders %}
					{% set orderKeyName = orderKey.name() %}
					[<a href="#{{ orderKeyName }}">{{ orderKeyName }}</a>]
				{% endfor %}
			</td>
			<td style="width: 14em">{{ asset.created }}</td>
		</tr>
		{% endfor %}
	</table>
</div>
{% endblock %}